{% extends 'base_admin.html' %}

{% block page_title %}
        {{page_title}}    
{% endblock page_title %}  

{% block navbar %} 
        {% include 'snippets/navbar_staff.html' %}
{% endblock navbar %}

{% block content %}

<div class="container" >
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <br>
        <input class="btn btn-primary" type="submit" value="Подтверждения">

        <a button class="btn btn-danger" href="{% url 'kursus:manage' %}">Отмена</button> </a>

    </form>
</div>
{% endblock content %}