{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}
    
{% block navbar %} 
    {% if request.user.is_authenticated %} 
        {% include 'snippets/navbar_staff.html' %}
    {% else %} 
        {% include 'snippets/navbar_anonymous.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
<div class="row">
        <!-- sisi kiri untuk kategori -->
        <div class="col-sm-3 mb-5">

            <!-- {{kategori_list}} -->
            <div class="list-group">
                <span class="list-group-item active">
                    категория :
                </span>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'kursus:list' %}"> Все категория  
            </a>
                {% for kategori in kategori_list %}
                <a href="{% url 'kursus:kategori' kategori %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{kategori}}
                    
                </a>
                {% endfor %}
            </div>
        </div>
                

    
    <div class="col-sm-9">
    <!-- {{object_list}}     -->
            <div class="alert alert-primary mt-1 d-flex justify-content-between align-items-center " role="alert">
            <h4> категория : {{kategori_input}}  
            </h4>  
            </div>
            {% for materi in object_list %}
            <div class="card mb-3">
                <h5 class="card-header"><a href="{% url 'kursus:detail' materi.id %}">   {{materi.judul}} </a></h5>
                <div class="card-body">
                     <p class="card-text">{{materi.isi | safe | truncatewords:50}}</p>
                   <a href="{% url 'kursus:detail' materi.id %}" class="btn btn-primary">полностью</a>
                </div>
            </div> 
        </dir>
        
    {% endfor %}
</div>

{% endblock content %}
    