{% extends 'base_admin.html' %}

{% block page_title %}
        {{page_title}}    
{% endblock page_title %}  

{% block navbar %} 
        {% include 'snippets/navbar_staff.html' %}
{% endblock navbar %}


{% block content %}
<div class="container">
    <div class="container">
        <div class="alert alert-primary text-center mt-5" role="alert">
         <h3> {{page_title}}</h3>
        </div>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <br>
        <input class="btn btn-primary" type="submit" value="Подтвержденный">
        
        <a button class="btn btn-danger" href="{% url 'kursus:manage' %}">Отмена</a>
    </form>
</div>
{% endblock content %}